# This code redirects incoming curl requests to the ./curl-ua-scripts directory, which should be placed in site's document root. This code can be placed in the apache configuration file (preferred) or in the .htaccess file.

RewriteEngine  on
RewriteCond %{HTTP_USER_AGENT}  ^curl/.*
RewriteRule ^/(.*)$ /curl-ua-scripts/$1 [L]

# See the Apache documentation at http://httpd.apache.org/docs/2.4/rewrite/remapping.html for more information.
